<!DOCTYPE html>
<html>
  <head>
    <title>RailsOauthServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>

  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        OAuthServer 
      </a>

      <button class="navbar-burger is-active" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </button>
    </div>

    <div class="navbar-menu is-active">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if logged_in? %>
              <%= 
                button_to(
                  "ログアウト", 
                  session_path, 
                  method: "delete",
                  class: :button
                ) 
              %>
            <% else %>
              <%= 
                link_to(
                  "ログイン", 
                  new_session_path, 
                  class: :button
                ) 
              %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
